.builder-container {
  display: flex;
  gap: 25px;
  padding: 40px;
}

.builder-left, .builder-right {
  flex: 1;
}

.builder-input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-bottom: 15px;
  background: rgba(255,255,255,0.1);
  color: white;
}

.builder-textarea {
  width: 100%;
  height: 350px;
  border-radius: 12px;
  border: none;
  padding: 12px;
  background: rgba(255,255,255,0.1);
  color: white;
  resize: none;
}

.builder-buttons {
  margin-top: 15px;
  display: flex;
  gap: 12px;
}

.preview-box {
  background: white;
  color: black !important;
  padding: 20px;
  border-radius: 12px;
  white-space: pre-line;
  min-height: 500px;
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.builder-input::placeholder {
  color: #cbd5e1;
}

.builder-input {
  color: white;
  caret-color: white;
}

/* FIX INPUT FIELD TEXT */
.builder-input {
  background: white !important;
  color: black !important;
  caret-color: black;
}

/* FIX TEXTAREA TEXT */
.builder-textarea {
  background: white !important;
  color: black !important;
  caret-color: black;
}

/* FIX PLACEHOLDER */
.builder-input::placeholder,
.builder-textarea::placeholder {
  color: #555;
}
